bcrypt
fastapi[standard]
python-dotenv
sqlalchemy
psycopg2-binary
rq
redis
opencv-python-headless
prometheus-fastapi-instrumentator
cryptography
slowapi
numpy
scikit-learn==1.8.0
--extra-index-url https://download.pytorch.org/whl/cpu
torch
